
.pixel-palette div
{
    width: 3em;
    height: 3em;
}

.playfield
{
    position: relative;
}

.pixel-area
{
}

.pixel
{
    position: absolute;
    height: 50%;
    width: 50%;
    border: solid 1px black;
    cursor: pointer;
}

.pixel-scoreboard
{
    position: absolute;
    top: 0%;
    visibility: hidden;
    z-index: 9999;
}

.pixel-area:hover > .pixel-scoreboard
{
    visibility: visible;
}

