{% extends "base.html" %}

{% block style_block %}
<style>
@import url(/static/site/puzzle.css);
</style>
{% endblock %}

{% block content %}
<form method='POST' action='{{ save_url }}'
    class='puzzle-editor form form-horizontal' 
    src='{{ puzzle_url }}'>
    <div class='control-group'>
        <label class='control-label'>Name of Puzzle</label>
        <div class='controls'>
            <input type='text' name='title' disabled>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label'>Hint</label>
        <div class='controls'>
            <textarea name='hint'></textarea>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label'>Size</label>
        <div class='controls'>
            <select name='size'>
                <option value='8' selected>8x8</option>
            </select>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label'>Edit Grid</label>
        <div class='controls'>
            <div class='btn-group palette'></div>
            <div class='pixel-grid'></div>
        </div>
    </div>
    <div class='control-group'>
        <div class='controls'>
            <button class='btn btn-primary'>Save</button>
        </div>
    </div>
</form>
{% endblock %}

{% block tail_script %}
<script src='/static/site/puzzle.js'></script>
{% endblock %}
